In [23]:
import pandas as pd
#!pip install pyreadstat
#!pip install py7zr
import py7zr
import calendar
import os

In [24]:
features_group = pd.read_excel(r'.\codes\feature_groups.xlsx')
demo_order = pd.read_excel(r'.\codes\demo_order.xlsx')
periods = pd.read_excel(r'.\codes\periods.xlsx', sheet_name ='period_lbl')
time_period_type = pd.read_excel(r'.\codes\periods.xlsx', sheet_name ='time_period_type')
year = pd.read_excel(r'.\codes\periods.xlsx', sheet_name ='year')
segments_order = pd.read_excel(r'.\codes\segments_order.xlsx')

In [25]:
example = pd.read_excel(r'.\codes\Example.xlsx', sheet_name = 'example')
legends = pd.read_excel(r'.\codes\Example.xlsx', sheet_name = 'legends')

In [26]:
#archive = py7zr.SevenZipFile('../data_in/out-for-datatile.7z', 'r')  
#archive.extractall(path="/tmp")
path = '/tmp/out-for-datatile'
files = os.listdir(path)
files

['br_allshops.parquet',
 'br_tot.parquet',
 'deterg_allshops.parquet',
 'deterg_tot.parquet',
 'diapers_allshops.parquet',
 'diapers_tot.parquet',
 'femcare_allshops.parquet',
 'femcare_tot.parquet',
 'haircond_allshops.parquet',
 'haircond_tot.parquet',
 'shampoo_allshops.parquet',
 'shampoo_tot.parquet']

In [34]:
cat_dict = {'br':'MALE B&R', 'deterg': 'Laundry Detergents','diapers': 'Diapers','femcare': 'Feminine Care', 
                'haircond': 'Hair Conditioners', 'shampoo':'Shampoos' }
time_period_type_dict ={ 24 :'2MATs/ 104 we', 12:'MAT/ 52 we', 3:'3MMT/ 12we' }
columns_dict = legends[['mask','Colum']].dropna(subset='mask').set_index('mask').to_dict()['Colum']

In [28]:
def get_period_lbl(time_period_type, year, month):
    return f"{time_period_type.split('/')[0]}: {calendar.month_abbr[month]} {year}"

In [38]:
dipers_shop = pd.read_parquet(f'{path}\\diapers_allshops.parquet')

In [39]:
dipers_shop['position_name_shop'].unique()
for l in dipers_shop['position_name_shop'].unique():
    print(l)

RUSSIA NATIONAL
Top Trade
All Hypermarket
Auchan
Lenta
Magnit Hyper
OK Hyper
All Supermarket
Perekrestok
All Discounter
Regular Discounter
Dixy
Magnit DSC
Pyaterochka
Hard Discounter
All Cash & Carry
Metro
All HFS
All Drug/Perfumery
All Drug
All Drug Chains
Magnit Cosmetic
Rubl Bum
Drug Chains wo Magnit and Rubl Bum
Independent Drugstores
All Chain Pharmacy/Independent Pharmacy
Baby Store
Detskiy Mir
Korablic
Dochki-Synochki
All eCommerce
Detskiy Mir eCommerce
Ozon.ru
Wildberries.ru
All Other

In [42]:
dipers_shop[dipers_shop['position_name_shop']=='Perekrestok']

,Category Name,Segment,position_name_shop,value,volume_gl,volume_SU,volume_pack,trips_raw,trips,buyers,...,volume_per_trip_pack,avg_price_g,avg_price_su,avg_price_pack,avg_pack_size,month_end,duration,Buyer Group Name,year,month
8,Diapers,Total Diapers,Perekrestok,330212.393025,21828.920713,121.272752,500.960506,130.0,384.195765,200.050688,...,1.303920,15.127289,2722.890244,659.158534,43.574135,2022-06-01 00:00:00+00:00,12.0,TOTAL DEMOGRAPHICS,2022.0,6.0
43,Diapers,Taped,Perekrestok,149613.582887,12109.880025,67.277649,269.330173,68.0,205.506372,117.381359,...,1.310568,12.354671,2223.822979,555.502494,44.962953,2022-06-01 00:00:00+00:00,12.0,TOTAL DEMOGRAPHICS,2022.0,6.0
78,Diapers,Non-Taped,Perekrestok,180598.810138,9719.040688,53.995102,231.630334,63.0,180.139446,118.324371,...,1.285839,18.581958,3344.725761,779.685490,41.959274,2022-06-01 00:00:00+00:00,12.0,TOTAL DEMOGRAPHICS,2022.0,6.0
113,Diapers,Total Diapers,Perekrestok,330212.393025,21828.920713,121.272752,500.960506,130.0,384.195765,200.050688,...,1.303920,15.127289,2722.890244,659.158534,43.574135,2022-06-01 00:00:00+00:00,12.0,TOTAL DEMOGRAPHICS,2022.0,6.0
148,Diapers,"POME (0,1,2)",Perekrestok,32711.145752,2601.096334,14.450651,104.662366,12.0,60.731259,56.920374,...,1.723369,12.575907,2263.645162,312.539711,24.852260,2022-06-01 00:00:00+00:00,12.0,TOTAL DEMOGRAPHICS,2022.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148961,KAO Group,Total Diapers,Perekrestok,4146.137928,208.389994,1.157731,3.922696,4.0,3.922696,2.435317,...,1.000000,19.896051,3581.260509,1056.961289,53.124175,2024-06-01 00:00:00+00:00,3.0,TOTAL DEMOGRAPHICS,2024.0,6.0
148991,Huggies Non-Taped,Total Diapers,Perekrestok,2293.211891,75.246848,0.418041,2.376688,2.0,2.376688,2.376324,...,1.000000,30.475853,5485.609677,964.877103,31.660380,2024-06-01 00:00:00+00:00,3.0,TOTAL DEMOGRAPHICS,2024.0,6.0
149051,P&G,Total Diapers,Perekrestok,8230.317887,315.472528,1.752639,7.852850,2.0,7.852850,7.848768,...,1.000000,26.088858,4695.956817,1048.067620,40.172998,2024-06-01 00:00:00+00:00,3.0,TOTAL DEMOGRAPHICS,2024.0,6.0
149127,Pampers Pants,Non-Taped,Perekrestok,8230.317887,315.472528,1.752639,7.852850,2.0,7.852850,7.848768,...,1.000000,26.088858,4695.956817,1048.067620,40.172998,2024-06-01 00:00:00+00:00,3.0,TOTAL DEMOGRAPHICS,2024.0,6.0
149156,KC,Total Diapers,Perekrestok,2293.211891,75.246848,0.418041,2.376688,2.0,2.376688,2.376324,...,1.000000,30.475853,5485.609677,964.877103,31.660380,2024-06-01 00:00:00+00:00,3.0,TOTAL DEMOGRAPHICS,2024.0,6.0

In [32]:
def get_df_in_v2(path, file):
    categoty  = cat_dict[file.split('_')[0]]
    type_of_file = file.split('_')[1]
    df_in = pd.read_parquet(f'{path}\\{file}')
    df_in = df_in.rename({'Category Name':'Product Name', 'Buyer Group Name':'buyers_gr_label'
                           }, axis=1 )
    df_in['Category Name'] = [categoty] * len( df_in)
    
    col_to_int = ['duration', 'year', 'month']
    for col in col_to_int:
        df_in[col] = df_in[col].astype(int)
    
    df_in['time_period_type'] = df_in['duration'].map(time_period_type_dict) 
    #Ниже нужно оптимизировать функцию, по 10 секунд выполняется
    df_in['period_lbl'] = df_in[['time_period_type', 'year', 'month']].apply(lambda row:get_period_lbl(*row), axis=1)
    print(sum(df_in['time_period_type'].isnull()))   
    print(df_in.shape)
    df_in = df_in.merge(features_group, on =['Category Name', 'Product Name'], how = 'left') 
    print(df_in.shape)
    df_in = df_in.merge(demo_order, on =['buyers_gr_label'], how = 'left')
    print(df_in.shape)
    df_in = df_in.merge(periods, on =['period_lbl'], how = 'left') 
    print(df_in.shape)
    df_in = df_in.merge(time_period_type, on =['time_period_type'], how = 'left')
    print(df_in.shape)
    df_in = df_in.merge(year, on =['year'], how = 'left')
    print(df_in.shape)
    df_in = df_in.merge(segments_order, on =['Segment'], how = 'left')
    print(df_in.shape)
    df_in.columns =[col.lower().replace(' ','_')  for col in  df_in.columns]
    df_in = df_in.rename(columns_dict, axis=1)
    return df_in

In [35]:
df_in_one = get_df_in_v2(path, files[0])

0
(210575, 34)
(210575, 42)
(210575, 47)
(210575, 49)
(210575, 50)
(210575, 51)
(210575, 52)

In [45]:
for l in df_in_one['position_name_shop'].unique():
    print(l)

RUSSIA NATIONAL
Top Trade
All Hypermarket + Supermarket
All Hypermarket
Auchan
Karusel
Lenta Hyper
Magnit Hyper
Ok Hyper
All Supermarket
Atak
Perekryostok
All HFS
All Discounter
Regular Discounter
Dixy
Magnit DSC
Monetka DSC
Pyaterochka
Hard Discounter
Fix Price
Svetofor
All Drug/Perfumery
All Perfumery
All Drug
All Drug chains
Magnit Cosmetic
Rubl Bum
Ulibka Radugi
Independent Drugstores
Pharmacy Total
All Cash & Carry
Metro/Makro
All eCommerce
All Other

In [44]:
df_in_one[df_in_one['position_name_shop']=="Perekryostok"]

,segment,product_name,position_name_shop,spend_local_currency,volume_gl,volume_su,volume_physical_units,trips_raw,occasions,buying_households,...,buyer_group_id,demo_groups,demo_hier,demo_lvls,socdem_gr,period_code,label_num,time_period_code,year_code,cat_segment
11,Total Segments,MALE B&R,Perekryostok,435435.648267,4251.540114,198.327563,909.636597,175.0,839.401062,604.448226,...,239528,1,0. TOTAL DEMOGRAPHICS,0,1,2,2MATs: 2023 (06) Jun,3,2023,200
46,Total Segments,P&G MB&R,Perekryostok,379084.404204,2931.645602,130.110025,616.696619,109.0,591.522007,422.399535,...,239528,1,0. TOTAL DEMOGRAPHICS,0,1,2,2MATs: 2023 (06) Jun,3,2023,200
81,Total Segments,Gillette MB&R,Perekryostok,379084.404204,2931.645602,130.110025,616.696619,109.0,591.522007,422.399535,...,239528,1,0. TOTAL DEMOGRAPHICS,0,1,2,2MATs: 2023 (06) Jun,3,2023,200
116,Total Segments,P&G Cl.Shv ex KCG SG Bdy Disp,Perekryostok,293847.375973,1056.442724,73.593154,329.634027,57.0,325.715668,240.906842,...,239528,1,0. TOTAL DEMOGRAPHICS,0,1,2,2MATs: 2023 (06) Jun,3,2023,200
151,Total Segments,BIC MB&R,Perekryostok,39760.523883,708.267861,36.487576,154.704556,32.0,127.297901,99.307448,...,239528,1,0. TOTAL DEMOGRAPHICS,0,1,2,2MATs: 2023 (06) Jun,3,2023,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210320,B&R exc. Dbl Edged & Body,MSys 3bld,Perekryostok,6807.340952,23.101065,1.927877,9.121633,4.0,9.121633,9.120118,...,239528,1,0. TOTAL DEMOGRAPHICS,0,1,104,3MMT: 2024 (06) Jun,1,2024,209
210330,Total Segments,Gillette MB&R,Perekryostok,6487.456873,26.727988,1.774747,9.580198,5.0,8.419604,8.417885,...,239528,1,0. TOTAL DEMOGRAPHICS,0,1,104,3MMT: 2024 (06) Jun,1,2024,200
210364,Total Segments,MDisp 1-2 Bld,Perekryostok,441.002760,11.605946,0.290149,2.321189,1.0,1.160595,1.160501,...,239528,1,0. TOTAL DEMOGRAPHICS,0,1,104,3MMT: 2024 (06) Jun,1,2024,200
210446,Disposables,P&G MDisp 1-2 Bld,Perekryostok,441.002760,11.605946,0.290149,2.321189,1.0,1.160595,1.160501,...,239528,1,0. TOTAL DEMOGRAPHICS,0,1,104,3MMT: 2024 (06) Jun,1,2024,207
210540,System Blade Refill Packs,P&G Cl.Shv ex KCG SG Bdy Disp,Perekryostok,3173.855704,9.074641,0.504146,2.268660,1.0,2.268660,2.268454,...,239528,1,0. TOTAL DEMOGRAPHICS,0,1,104,3MMT: 2024 (06) Jun,1,2024,205

In [16]:
df_in_two = get_df_in_v2(path, files[1])

0
(8777, 34)
(8777, 42)
(8777, 47)
(8777, 49)
(8777, 50)
(8777, 51)
(8777, 52)

In [17]:
for col in df_in_one:
    if sum(df_in_one[col].isnull()) >0:
        print(col,sum(df_in_one[col].isnull()))

In [18]:
sorted(df_in_one.columns)

['Buyer Group ID',
 'Category Name',
 'Product Name',
 'Segment',
 'Vendor Product ID',
 'avg_pack_size',
 'avg_price_g',
 'avg_price_pack',
 'avg_price_su',
 'buyers',
 'buyers_gr_label',
 'buyers_raw',
 'category_code',
 'demo_code',
 'demo_hier',
 'demo_lvls',
 'duration',
 'feature',
 'feature_code',
 'frequency',
 'full_label',
 'label_num',
 'month',
 'month_end',
 'penetration',
 'period_code',
 'period_lbl',
 'population',
 'position_name_shop',
 'product_code',
 'product_hier',
 'product_lvls',
 'segment_code',
 'socdem_gr',
 'spend_per_buyer',
 'spend_per_trip',
 'time_period_code',
 'time_period_type',
 'trips',
 'trips_raw',
 'value',
 'volume_SU',
 'volume_gl',
 'volume_pack',
 'volume_per_buyer_g',
 'volume_per_buyer_pack',
 'volume_per_buyer_su',
 'volume_per_trip_g',
 'volume_per_trip_pack',
 'volume_per_trip_su',
 'year',
 'year_code']

In [19]:
df_in_one.columns =[col.lower().replace(' ','_')  for col in  df_in_one.columns]

In [20]:
metric_dict = {}
for m, c in legends.loc[legends['mask'].notna(), ['mask','Colum' ]].values:
    metric_dict[m] = c
metric_dict

{'avg_price_su': 'average_per_su_local_currency',
 'buyers': 'buying_households',
 'segment_code': 'cat_segment',
 'category_code': 'category',
 'demo_code': 'demo_groups',
 'feature_code': 'features',
 'penetration': 'percent_household_penetration',
 'product_code': 'products',
 'frequency': 'purchase_frequency',
 'avg_price_pack': 'purchase_size_su',
 'buyers_raw': 'raw_shoppers',
 'value': 'spend_local_currency',
 'volume_pack': 'volume_physical_units',
 'volume_su': 'volume_su'}

In [21]:
df_in_one = df_in_one.rename(metric_dict, axis=1)

In [23]:
legends['is_got'] = legends['Colum'].apply(lambda x: x in df_in_one.columns )

In [24]:
legends[legends['is_got']==False]

                                 Colum   Source mask  is_got
1                   average_per_su_usd  metrics  NaN   False
9      item_buying_rate_local_currency  metrics  NaN   False
10                item_buying_rate_usd  metrics  NaN   False
11  loyalty_value_based_local_currency  metrics  NaN   False
12             loyalty_value_based_usd  metrics  NaN   False
13                loyalty_volume_based  metrics  NaN   False
14                           occasions  metrics  NaN   False
15              percent_2__time_buyers  metrics  NaN   False
22        purchase_size_local_currency  metrics  NaN   False
24                   purchase_size_usd  metrics  NaN   False
28                           spend_usd  metrics  NaN   False

In [25]:
df_out = pd.read_spss('..//PG_cat1_chunk0.sav')

In [28]:
example.columns

Index(['product_lvls', 'category', 'demo_lvls', 'socdem_gr',
       'time_period_type', 'year', 'period_lbl', 'buying_households',
       'raw_shoppers', 'loyalty_volume_based',
       'loyalty_value_based_local_currency', 'loyalty_value_based_usd',
       'percent_2__time_buyers', 'percent_household_penetration',
       'purchase_frequency', 'occasions', 'item_buying_rate_local_currency',
       'item_buying_rate_usd', 'purchase_size_local_currency',
       'purchase_size_usd', 'purchase_size_su',
       'average_per_su_local_currency', 'average_per_su_usd', 'volume_su',
       'volume_physical_units', 'spend_local_currency', 'spend_usd',
       'product_hier', 'demo_hier', 'products', 'features', 'cat_segment',
       'demo_groups'],
      dtype='object')

In [29]:
example[['product_lvls','products' ]]

     product_lvls  products
0               1      1058
1               3      1027
2               3      1003
3               2      1002
4               1      1058
..            ...       ...
995             1      1071
996             3      1027
997             1      1061
998             2      1020
999             4      1025

[1000 rows x 2 columns]

In [30]:
flat_file =pd.read_parquet(f"data/PG_Flatfiles_Diapers.pq.zstd")